 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 100%;
  height: 1200px;
}

.boxes {
  display: block;
  width: 1300px;
}

//bouncing ball

#ball {
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin-top: 70px;
  margin-left: 65px;
  animation-duration: 2s;
  animation-delay: 0.01s;
  border-radius: 80px;
  background-color: red;
}

#ball p {
  padding-top: 50px;
  text-align:center;
}

// comes closer
#closer {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 70px;
  margin-left: 65px;
  animation-duration: 6s;
  animation-delay: .01s;
}
