 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

@mixin sizing(){
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  margin-top: 70px;
  margin-left: 65px;
}

@mixin section-style() {
  display: block;
  width: 1300px;
  height: 250px;
  margin-left: 65px;
}

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  height: 1200px;
}

//first row of 5 effects
.one {
  @include section-style;
}

//bouncing ball

#ball {
  @include sizing;
  animation-duration: 2s;
  animation-delay: 0.01s;
  background-color: red;
}

#ball p {
  padding-top: 50px;
  text-align:center;
  font-weight: bold;
  color:yellow;
}

// hinged
#hinge {
  @include sizing;
  animation-duration: 6s;
  animation-delay: .01s;
}

#hinge img {
  position: relative;
  border-radius: 80px;
}

#hinge p {
  position: relative;
  bottom: 50px;
  text-align: center;
}

//tada

#magic {
  @include sizing;
  animation-duration: 2s;
  animation-delay: .01s;
  animation-iteration-count: 3;
}

#magic img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

//color transition

#colors {
  @include sizing;
  transition: all 2s ease;
  background-color: blue;
  font-color: white;
}

#colors p {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align:center;
  color: white;
  transition: all 2s ease;
}

#colors:hover {
  background-color: yellow;
}

#colors p:hover {
  color:orange;
}

//rubberband effect

#stretch {
  @include sizing;
  background-color: #eee;
  background-image:        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:60px 60px;
  background-position:0 0, 30px 30px;
  animation-duration: 2s;
  animation-delay: .01s;
  animation-iteration-count: 3;
}

#stretch p {
  padding-left: 6px;
  padding-top: 27px;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

//row 2 of 5 effects
.two {
  @include section-style;
}

#roll {
  @include sizing;
  animation-duration: 5s;
  animation-delay: .01s;
  animation-iteration-count: 2;
}

#roll img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

//fade out effect
#fadeIt {
  @include sizing;
  background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 70px 70px;
  background-color: #EC173A;
  animation-duration: 3s;
  animation-delay: .01s;
  animation-iteration-count: 3;
}

//flip effect
#flipIt {
  @include sizing;
  background-color: green;
  animation-duration: 4s;
  animation-delay: .01s;
}

#flipIt p {
  padding-top: 20px;
  padding-left: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

//pulse effect
#heartbeat {
  @include sizing;
  animation-duration: .5s;
  animation-delay: .01s;
  animation-iteration-count: 6;
}

#heartbeat img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

//zoom in effect

#zoomed {
  @include sizing;
  animation-duration: 1.5s;
  animation-delay: .01s;
  animation-iteration-count: 1;
}

#zoomed img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

//row three

.three {
  @include section-style;
}

#weeble {
  @include sizing;
  background-color: purple;
}

#weeble p {
  padding-top: 30px;
  text-align: center;
  color: white;
}

#weeble input{
  width: 95px;
  margin-left: 25px;
}

//bounce out effect


#target {
  @include sizing;
  background-color: yellow;
}

#target p{
  width: 100px;
  height: 100px;
  text-decoration: none;
  padding-top: 30px;
  padding-left: 2px;
  border: 13px solid red;
  border-radius: 50px;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: bold;
  color:blue;
  background-color: white;
  animation-duration: 1s;
  animation-delay: .01s;
}
